* {
    -fx-primary-color: #1c2d28;
    -fx-secondary-color: #29554a;
    -fx-text-color: #d2d2d2;
    -fx-header-color: #19241f;
    -fx-select-color: #6CFFE0;
}

#body {
    -fx-background-color: -fx-primary-color;
}

.context-menu {
    -fx-background-color: black;
}

.menu-bar {
    -fx-background-color: -fx-header-color;
    -fx-border-color: -fx-secondary-color;
}

.menu-bar>.container>.menu-button:hover,
.menu-bar>.container>.menu-button:focused,
.menu-bar>.container>.menu-button:showing {
    -fx-background-color: -fx-secondary-color;
}

.menu-item:focused,
.menu-item:hover {
    -fx-background-color: -fx-secondary-color;
}

#master {
    -fx-background-image: url("hexa-small.png");
}

#master .button {
    -fx-background-color: rgba(0, 0, 0, 0.2);
    -fx-border-color: linear-gradient(to bottom right, #373E7f, #972653);
}

#master .button:hover {
    -fx-border-color: rgba(243, 143, 87, 0.6);
    -fx-background-color: rgba(79, 57, 38, 0.25);
}

#master .button:pressed {
    -fx-border-color: -fx-select-color;
}

#master .list-view {
    -fx-background-color: transparent;
}

.label {
    -fx-font-family: "Century Gothic";
    -fx-text-fill: -fx-text-color;
    -fx-font-weight: 700;
}

#mastertitle {
    -fx-font-family: "Orbitron";
    -fx-font-size: 20px;
    -fx-background-image: url("master-title-border.png");
}

.list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-color;
    -fx-cell-size: 25px;
    -fx-alignment: center;
}

.table-view {
    -fx-background-color: rgba(7, 11, 9, 0.8);
    -fx-border-width: 1px;
    -fx-border-color: -fx-secondary-color;
    -fx-text-alignment: center;
}

.table-view .column-header {
    -fx-background-color: -fx-header-color;
    -fx-text-alignment: center;
    -fx-alignment: center;
}

.table-view .table-cell {
    -fx-font-size: 14px;
    -fx-text-fill: -fx-text-color;
    -fx-font-family: "Century Gothic";
    -fx-border-color: -fx-secondary-color;
    -fx-border-style: solid none none none;
    -fx-alignment: center;
}

.table-row-cell {
    -fx-background-color: #121b19;
    -fx-cell-size: 30px;
}

.table-row-cell:selected, .list-cell:selected {
    -fx-background-color: -fx-select-color, #121b19;
    -fx-background-insets: 0, 2 1 1 1;
    -fx-padding: 0 0 0 0;
}

.text-field {
    -fx-font-family: "Century Gothic";
    -fx-padding: 1;
    -fx-border-color: -fx-secondary-color;
    -fx-background-color: #070b09;
    -fx-alignment: center;
    -fx-text-fill: -fx-text-color;
}

.check-box .box {
    -fx-background-color: -fx-primary-color;
    -fx-border-color: -fx-secondary-color;
}

.check-box:selected .mark {
    -fx-background-color: -fx-select-color;
}

.check-box:hover {
    -fx-border-color: #F38F57;
    -fx-background-color: #4F3926;
}

.button {
    -fx-font-family: "Century Gothic";
    -fx-font-weight: 700;
    -fx-text-alignment: center;
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.8), 0, 0, 0, 1);
    -fx-background-insets: 1, 1, 1, 1;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-background-color: -fx-primary-color;
    -fx-border-color: -fx-secondary-color;
    -fx-text-fill: -fx-text-color;
}

.button:hover {
    -fx-border-color: #F38F57;
    -fx-background-color: #4F3926;
}

.button:pressed {
    -fx-border-color: -fx-select-color;
}

#clearbutton {
    -fx-text-fill: #D6493C;
}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 0;
}

.date-picker .arrow-button .arrow {
    -fx-background-color: -fx-text-color;
}

.date-picker {
    -fx-background-color: -fx-secondary-color;
}

.date-picker-popup {
    -fx-border-color: -fx-secondary-color;
}

.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
}